body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 208, 0, 0.88);
}

.nav {
    /* border-bottom: 2px solid grey; */
    padding-bottom: 8px;
}

.navUl {
    display: flex;
    flex-flow: row;
    font-weight: 600;
    place-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    justify-content: space-evenly;
}

.main {
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
    background-color: whitesmoke;
    border: 1px #999 solid;
    border-radius: 16px;
}

.dt {
    font-weight: bold;
    float: left;
    width: 100%;
    padding-right: 4px;
}

.dl,
.dd {
    font-size: 0.9rem;
    margin: 0px;
}

.dd {
    padding-bottom: 0.5em;
}

.main h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.displayAllFlowers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.flowerCard {
    border-bottom: 1px solid #999;
    box-shadow: 2px 1px #999;
    min-width: 320px;
    padding: 2px 20px;
}

.flowerCard p {
    font-size: 1.25rem;
}

.flowerCard:hover {
    box-shadow: 2px 2px #999;
}
