body {
    font-family: "Inter", sans-serif;
    background-color: rgba(255, 208, 0, 0.88);
}

a:hover {
    cursor: pointer;
}

a:visited {
    color: green;
}

li {
    padding-bottom: 12px;
}

._divNewFlowerForm {
    width: 800px;
    margin: 0 auto;
    background: whitesmoke;
    padding: 20px 0px;
}

._FlowerForm {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.5rem;
}

._formInputSubmit {
    height: 40px;
    width: 100px;
    background-color: #067ff7;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 16px;
}

._formInputSubmit:hover {
    cursor: pointer;
}

._divFlowerEditUpdate {
    padding: 16px 0px;
}

._flowerEditUpdateMsg_OK {
    display: flex;
    justify-content: center;
}

._flowerEditUpdateMsg_OK span {
    color: green;
    text-transform: uppercase;
    font-size: 1.25rem;
}

._flowerEditUpdateMsg_Not_OK {
    display: flex;
    justify-content: center;
}

._flowerEditUpdateMsg_Not_OK span {
    color: red;
    text-transform: uppercase;
    font-size: 1.25rem;
}

._ulFlowerEditUpdate {
    display: flex;
    flex-flow: column;
    place-items: center;
    list-style-type: none;
    color: red;
    margin: 0;
    font-size: 1.5em;
    padding-top: 16px;
}

.nav {
    /* border-bottom: 2px solid grey; */
    padding-bottom: 8px;
}

.navUl {
    display: flex;
    flex-flow: row;
    font-weight: 600;
    list-style-type: none;
    place-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    justify-content: space-evenly;
}

.main {
    margin: 0 auto;
    margin-top: 28px;
    max-width: 800px;
    padding: 16px;
    background-color: whitesmoke;
    border: 1px rgba(58, 223, 113, 0.653) solid;
    border-radius: 16px;
}

.dt {
    font-weight: bold;
    color: rgb(80, 80, 80);
    float: left;
    width: 100%;
    padding-right: 4px;
}

.dl,
.dd {
    font-size: 0.9rem;
    margin: 0px;
}

.dd {
    padding-bottom: 0.5em;
}

.main h2 {
    color: rgb(80, 80, 80);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.displayAllFlowers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

._flowerDetail {
    display: flex;
    flex-flow: row;
}

.Card {
    /* border-bottom: 1px solid #999; */
    box-shadow: 1px 1px #999;
    min-width: 320px;
    padding: 2px 20px;
}

.Card p {
    font-size: 1.25rem;
}

.Card a {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: underline;
}

.Card:hover {
    box-shadow: 2px 2px #999;
}

._flowerDesc {
    padding: 16px 8px 8px 16px;
}

._flowerDesc h3 {
    text-transform: uppercase;
}

._flowerDetailNav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    gap: 44px;
}

._flowerDetailNav span {
    padding: 0;
    margin: 0;
}

._detailNavLinks {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}
